In [1]:
import tabula as tb

In [6]:
tb.read_pdf('https://www.mohfw.gov.in/pdf/DistrictWiseList324.pdf', multiple_tables=True, pages='all',output_format='dataframe')[0]

,0,1,2
0,NaN,State/District wise details of Positive cases ...,NaN
1,NaN,No of,No of Positive
2,State,District,NaN
3,NaN,Dist,cases
4,A&N Islands,1#,1*
5,NaN,Chitoor,1
6,NaN,East Godavari,2
7,NaN,Guntur,1
8,NaN,Krishna,1
9,Andhra Pradesh,8# Nellore,1
10,NaN,Prakasam,1
11,NaN,"Vijayawada,Krishna",1
12,NaN,Vizag,3
13,NaN,NaN,1*
14,NaN,MUNGER,2
15,BIHAR,2# PATNA,3
16,NaN,NaN,1*
17,Chandigarh,1 Chandigarh,7
18,NaN,Raipur,2
19,Chhattisgarh,2# Rajnandgaon,1
20,NaN,NaN,3*
21,NaN,Central,3
22,NaN,East Delhi,5
23,NaN,North Delhi,4
24,NaN,North East,5
25,Delhi,8# North West,5
26,NaN,South Delhi,5
27,NaN,South West,3
28,NaN,West Delhi,5
29,NaN,NaN,1*
30,Goa,#,3*
31,NaN,Ahmedabad,14
32,NaN,Gandhinagar,7
33,NaN,Kutch,1
34,Gujarat,6# Rajkot,3
35,NaN,Surat,6
36,NaN,Vadodara,7
37,NaN,NaN,5*
38,NaN,Faridabad,1
39,NaN,Gurugram,24
40,NaN,Palwal,1
41,Haryana,6,NaN
42,NaN,Panchkula,1
43,NaN,Panipat,2
44,NaN,Sonipat,1
45,Himachal Pradesh,1 Kangra,3

In [15]:
import pandas as pd
pd.read_html("https://www.mohfw.gov.in")[-1]

,S. No.,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,1,Andaman and Nicobar Islands,2,0,0,0
1,2,Andhra Pradesh,14,0,1,0
2,3,Bihar,9,0,0,1
3,4,Chandigarh,7,0,0,0
4,5,Chhattisgarh,6,0,0,0
5,6,Delhi,38,1,6,1
6,7,Goa,3,0,0,0
7,8,Gujarat,44,1,0,3
8,9,Haryana,19,14,11,0
9,10,Himachal Pradesh,3,0,0,1
10,11,Jammu and Kashmir,18,0,1,1
11,12,Karnataka,55,0,3,2
12,13,Kerala,165,8,11,0
13,14,Ladakh,13,0,3,0
14,15,Madhya Pradesh,30,0,0,2
15,16,Maharashtra,177,3,25,5
16,17,Manipur,1,0,0,0
17,18,Mizoram,1,0,0,0
18,19,Odisha,3,0,0,0
19,20,Puducherry,1,0,0,0
20,21,Punjab,38,0,1,1
21,22,Rajasthan,46,2,3,0
22,23,Tamil Nadu,32,6,2,1
23,24,Telengana,38,10,1,0
24,25,Uttarakhand,4,1,0,0
25,26,Uttar Pradesh,44,1,11,0
26,27,West Bengal,15,0,0,1
27,Total number of confirmed cases in India,Total number of confirmed cases in India,826#,47,79,19
28,# Few of the new cases have been reassigned St...,# Few of the new cases have been reassigned St...,# Few of the new cases have been reassigned St...,# Few of the new cases have been reassigned St...,# Few of the new cases have been reassigned St...,# Few of the new cases have been reassigned St...